<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.sytiqhub.tinga">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
            android:name="android.hardware.location.network"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.location.gps"
            android:required="false"/>

    <application
            android:name=".others.AppController"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:appComponentFactory="tinga"
            tools:replace="android:appComponentFactory" tools:targetApi="p">

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />

        <meta-data
                android:name="com.google.android.geo.api_key"
                android:value="@string/google_maps_key" />

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity
                android:name=".MapsActivity"
                android:label="@string/title_activity_maps">
        </activity>
        <activity
                android:name=".activities.LocationActivity"
                android:label="@string/title_activity_location">
        </activity>
        <activity android:name=".AddAddressActivity">
        </activity>
        <activity
                android:name=".activities.AddressActivity"
                android:label="@string/title_activity_address"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activities.FeedbackActivity"/>
        <activity
                android:name=".activities.OrderStatusActivity"
                android:label="@string/title_activity_order_status"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".activities.CartActivity"
                android:label="@string/title_activity_cart"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".activities.OrderDetailsActivity"
                android:label="@string/title_activity_order_details"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".activities.FoodDescriptionActivity"
                android:label=""
                android:theme="@style/AppThemeTransperant.NoActionBar"/>
        <activity
                android:name=".activities.SplashActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.FoodItemsActivity"
                android:label="@string/title_activity_food_items"
                android:parentActivityName=".activities.HomeActivity"
                android:theme="@style/AppThemeTransperant.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.sytiqhub.tinga.activities.HomeActivity"/>
        </activity>
        <activity
                android:name=".activities.HomeActivity"
                android:label="@string/title_activity_home_acitivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".auth.PhoneAuth"
                android:theme="@style/AppTheme.NoActionBar"/>
      <!--  <activity
                android:name=".others.HomeActivity1"
                android:label="@string/title_activity_home"
                android:theme="@style/AppTheme.NoActionBar"/>-->
        <activity
                android:name=".auth.ProfileFillActivity"
                android:label="Fill Your Details"
                android:theme="@style/AppTheme"/>
        <activity
                android:name=".auth.MainActivity"
                android:theme="@style/AppTheme.NoActionBar"/>

        <service
                android:name=".services.MyJobService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_application_id"/>
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity
                android:name="com.facebook.FacebookActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:label="@string/app_name"/>
        <activity
                android:name="com.facebook.CustomTabActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/facebook_login_protocol_scheme"/>
            </intent-filter>
        </activity>

        <receiver
        android:name=".others.ConnectivityReceiver"
        android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6930438056914116~8831173600"/>
    </application>

</manifest>